/*LOGIN*/
.login{
    background-color: #ECC74E;
    width: 400px;
    height: 250px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    border: 1px solid #6B6C6F;
    border-radius: 10px;
    padding: 10px 10px;
}
.login .title{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    opacity: 1;
    margin-bottom: 10px;
}
.login .logo-login{
    display: flex;
    justify-content: center;
}
.login .logo-login span{
    margin-left: 10px;
    font-weight: 600;
    text-align: center;
    font-size :26px;
}

.login .item{
    margin-top: 15px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.login.item .title-input{
    font-size :18px;
    color: #6B6C6F;
    font-weight: 500;
    width: 50%;
}
.login .item .container-input .input-custom{
    border-radius: 4px;
    width: 250px;
    height: 37px;
    border: 1px solid #6B6C6F;
}
.login .btn-login{
    margin-top: 15px;
    float: right;
}
.login .btn-login button{
    border: 1px solid #6B6C6F;
    height: 33px;
    border-radius: 6px;
    cursor: pointer;
}
/*admin*/

html, div{
    font-size: 14px;
    font-family: 'Baloo Chettan 2', cursive;
}
body{
    margin: 0;
    padding: 0;
    font-family: SansSerif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
div{
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
button:hover{
    transform: scale(1.00);
}
a{
    text-decoration: none;
}
@media (max-width: 500px) {
    .row, .navbar {
        flex-direction: column;
    }
}
/*header*/
.navbar{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: #ef9cac;
    color: #444248;
    min-height: 50px;
    text-shadow: 1px 1px 4px #0000007d;
}
.navbar .logo{
    float: left;
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 10px;
}
.navbar .nav-right{
    float: right;
}
.navbar .nav-right ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.navbar .nav-right .pull-right li{
    float: left;
    padding: 10px 25px;
}
.navbar .nav-right .pull-right li:hover{
    background: #e4606d;
    border-radius: 3px;
}
.navbar .nav-right .pull-right li a{
    text-decoration: none;
    color: #444248;
}
.content{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    background: black;
}
.content .sidebar{
    display: flex;
    width: 230px;
    min-height: 100%;
    background-color: black;
    color: white;
    flex-direction: column;
}
.content .sidebar .text-image-employee{
    padding: 20px;
}
.content .sidebar .sidebar-nav .main-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.content .sidebar .sidebar-nav .main-menu li{
    padding: 10px;
    margin: 10px 0;
}
/*.content .sidebar .sidebar-nav .main-menu li:hover{*/
/*    background: #ef9cac;*/
/*    color: black;*/
/*}*/
.content .sidebar .sidebar-nav .main-menu .active{
    background-color: #ef9cac;
}
.content .sidebar .sidebar-nav .main-menu li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
/*.content .sidebar .sidebar-nav .main-menu li a:hover{*/
/*    color: black;*/
/*}*/
.content .text-setting{
    padding: 15px;
}
.content .text-setting:hover{
    background-color: #6B6C6F;
}
.content .text-setting a{
    text-decoration: none;
    color: white;
}
.content .main{
    /*background: white;*/
    width: 100%;
    min-height: 900px;
    background: lightgray;
}
.footer{
    background: #4e555b;
    color: #cbd3da;
    min-height: 10px;
    padding: 10px 15px;
    line-height: 10px;
}

.list-employee{
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: white;
}
.list-employee .title-list{
    margin-bottom: 50px;
}
.list-employee .title-list .float-left{
    box-sizing: border-box;
    margin-right: 20px;
    float: left;
}
.list-employee .title-list .float-left .title{
    font-size: 22px;
    font-weight: 600;
    font-family: SansSerif;
}
.list-employee .title-list .float-right{
    float:right;
    margin-right: 20px;
    border: 1px solid #6B6C6F;
    border-radius: 5px;
    height: 30px;
    background-color: black;
}
.list-employee .title-list .float-right a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    color: #ef9cac;
    font-weight: 600;
}
.list-employee .table{
    width: 100%;
}
