/*list service*/
.service{
    margin: 30px;
    padding: 0;
    font-family: 'Baloo Chettan 2', cursive;
}
/*!*add service*!*/
/*.add-service{*/
/*    margin: 0 auto;*/
/*}*/
/*.active_service{*/
/*    background-color: #ffffff ;*/
/*    color: #333;*/
/*    font-weight: 600;*/
/*}*/

/*edit service*/
