.login{
    margin: 30px 0;
    padding: 50px 0;
    font-family: 'Baloo Chettan 2', cursive;
}
.content{
    width: 500px;
    margin: 0 auto ;
    line-height:  30px;
    padding: 50px 20px;
    background-color: #cbd3da;
    border-radius: 8px;
}
.content .title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.content .input-custom{
    margin: 15px 0;
}
.content .input-custom label{
    font-size: 16px;
}
.content .input-custom input{
    height: 47px;
}
.content button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 30%;
}
.content .register-link{
    margin-top: 15px;
}
/*contact*/
.contact{
    margin: 30px;
    padding: 70px;
    color: #6B6C6F;
}
.information{
    width: 40%;
    float: left;
    box-sizing: border-box;
}
#map{
    width: 60%;
    float: left;
    box-sizing: border-box;
    padding-left: 40px;
    margin-bottom: 50px;
}
/*about*/
.gioithieu{
    text-align: justify;
    margin: 50px auto;
    padding: 40px 0;
    width: 800px;
    clear: both;
    line-height: 50px;
    font-family: 'Baloo Chettan 2', cursive;
}
.gioithieu .title h3{
    font-size: 23px;
    text-align: center;
    margin-bottom: 15px;
}
.gioithieu .title{
    font-weight: 600;
    opacity: 0.5;
    font-size: 20px;
}
.nghieng{
    font-style: italic;
}

/*register-vcer*/
.registration-vcer{
    clear: both;
    position: relative;
    color: black;
    font-family: 'Baloo Chettan 2', cursive;
}
.registration-vcer .quytrinhnhanvc{
    width: 980px;
    margin: auto;
    text-align: center;
}
.registration-vcer .quytrinhnhanvc h3{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    border-bottom-length:20px;
}
.registration-vcer .quytrinhnhanvc .cacbuoc{

}
.registration-vcer .quytrinhnhanvc .cacbuoc .buoc{
    border: 1px solid #6c757d;
    background: white;
    color: #e4606d;
    width: 190px;
    height: 130px;
    float: left;
    margin: 20px;
    border-radius: 8px;
    position: relative;
}
.registration-vcer .quytrinhnhanvc .cacbuoc .buoc .so-buoc{
    position: absolute;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -25px;
    right: 0;
    left: 85px;
    bottom: 0;
    background: black;
    color: white;
}
.registration-vcer .quytrinhnhanvc .cacbuoc .buoc .title-buoc{
    font-weight: 600;
    font-size: 19px;
}
.registration-vcer .formdangky{
    width: 900px;
    height: 700px;
    padding-top: 20px;
    margin: auto;
    text-align: center;
}
.registration-vcer .formdangky h3{
    font-size: 25px;
    padding-top: 2px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    border-bottom-length:40px;
}
.registration-vcer .formdangky .item{

}
.registration-vcer .formdangky .item .title-input{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 5px;
}
.registration-vcer .formdangky .item .container-input .input-custom{
    width:70%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
.registration-vcer .formdangky button{
    cursor: pointer;
    height: 40px;
    padding: 7px 20px;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    color: #e4606d;
    margin-top: 20px;
}



.footer{
    clear: both;
}
