.choose-service{
    clear: both;
    width: 900px;
    margin: auto;
    color: #e4606d;
}
.choose-service h3{
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    border-bottom-length:40px;

}
.choose-service .choose-item{
    width: 250px;
    height: 270px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
